* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTES */
    /* INTER TIGHT */
    --ff-inter-tight: "Inter Tight", sans-serif;
    --title: 700 1.5rem/32px var(--ff-inter-tight);

    /* INTER */
    --ff-inter: "Inter", sans-serif;
    --paragraph-medium: 500 .875rem/24px var(--ff-inter);
    --paragraph-small: 500 .75rem/16px var(--ff-inter);
    --label-large: 700 1rem/24px var(--ff-inter);
    --label-medium: 700 .875rem/24px var(--ff-inter);
    --label-small: 500 .75rem/16px var(--ff-inter);
    --link: 500 .75rem/16px var(--ff-inter);

    /* BACKGROUNDS */
    --background-primary: #14151D;
    --background-tertiary: #23242C;
    --background-highlights: #BDB4FA;

    /* CONTENT */
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;
    --button-color: #050505;

    /* BORDER */
    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;
}

body {
    padding-bottom: 150px;
    background-color: var(--background-primary);
}

main {
    flex-direction: column;
    gap: 12px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 0 1.25rem;
    margin: 0 auto;
}

.input-default {
    border: 1px solid var(--border-primary);
    border-radius: 8px;
}

.input-hover:hover {
    border: 1px solid var(--border-secondary);
}

.input-focus:focus-within {
    border: 1px solid var(--border-brand);
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

body.no-scroll {
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 768px;
        padding: 0 1.25rem;
        margin: 0 auto;
    }

    body {
        position: relative;
        padding-bottom: 50px;
        background-color: var(--background-primary);
    }
}